.container {
  width: 1200px;
  margin: 0 auto;
}

.main-btn {
  all: unset;
  padding: 16px 40px;
  background-color: #161616;
  border: 2px solid #C0C0C0;
  border-radius: 49px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

section {
  padding-top: 100px;
}

header#main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
header#main-header .container .bar {
  display: none;
}
header#main-header .container ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
header#main-header .container ul li {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

section#showcase .container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
section#showcase .container .wrapper h1 {
  font-family: "Tinos";
  font-size: 76px;
  font-weight: 700;
  margin: 0;
}
section#showcase .container .wrapper div {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
section#showcase .container .wrapper div p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
section#showcase .container .wrapper div .selection {
  border-bottom: 1px solid #C0C0C0;
  display: flex;
  justify-content: space-between;
}
section#showcase .container .wrapper button.main-btn {
  align-self: end;
}
section#showcase .container img {
  padding-top: 65px;
}
section#showcase .container h2 {
  font-family: "Tinos";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-block: 100px;
  border-bottom: 3px solid #fff;
}

section#collection .container {
  border-bottom: 3px solid #C0C0C0;
  padding-bottom: 80px;
}
section#collection .container div.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
section#collection .container div.wrapper h3 {
  font-family: "Tinos";
  margin: 0;
  font-size: 58px;
  font-weight: 700;
}
section#collection .container div.wrapper div.text-wrapper {
  display: flex;
  flex-direction: column;
}
section#collection .container div.wrapper div.text-wrapper p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #C0C0C0;
}
section#collection .container div.wrapper div.text-wrapper p.view {
  color: #fff;
  align-self: flex-end;
}
section#collection .container div.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-top: 80px;
}
section#collection .container div.cards .card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section#collection .container div.cards .card img {
  padding-bottom: 30px;
}
section#collection .container div.cards .card p {
  color: #c0c0c0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

section#selection {
  padding-block: 80px;
}
section#selection .container {
  display: flex;
  gap: 45px;
}
section#selection .container img {
  width: 60%;
}
section#selection .container div {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section#selection .container div h3 {
  color: #fff;
  text-align: right;
  font-family: "Tinos";
  font-size: 58px;
  font-weight: 700;
}
section#selection .container div span {
  font-size: 18px;
  font-weight: 600;
  align-self: flex-end;
}
section#selection .container div p {
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  color: #C0C0C0;
}
section#selection .container div a {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-end;
}

footer#main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 3px solid #C0C0C0;
  padding-bottom: 80px;
  margin-bottom: 50px;
}
footer#main-footer .container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer#main-footer .container div img {
  width: 180px;
  height: 47px;
}
footer#main-footer .container div p {
  color: #c0c0c0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
footer#main-footer .container div ul.social {
  display: flex;
  gap: 30px;
}
footer#main-footer .container ul.footer-lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer#main-footer .container ul.footer-lists li {
  color: #c0c0c0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer#main-footer .container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer#main-footer .container form input {
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #C0C0C0;
}

@media (max-width: 1440px) {
  .container {
    width: 327px;
  }
  header#main-header nav.container {
    padding-top: 24px;
  }
  header#main-header nav.container ul {
    display: none;
  }
  header#main-header nav.container .bar {
    display: flex;
  }
  section#showcase {
    padding-top: 0;
  }
  section#showcase .container {
    padding-top: 25px;
  }
  section#showcase .container .wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  section#showcase .container .wrapper h1 {
    font-family: "Tinos";
    font-size: 25px;
    font-weight: 700;
    margin: 0;
  }
  section#showcase .container .wrapper div {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  section#showcase .container .wrapper div p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    color: #C0C0C0;
  }
  section#showcase .container .wrapper div .selection {
    border-bottom: 1px solid #C0C0C0;
    display: flex;
    justify-content: space-between;
  }
  section#showcase .container .wrapper button.main-btn {
    align-self: flex-start;
  }
  section#showcase .container img {
    width: 375px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-top: 30px;
  }
  section#showcase .container h2 {
    font-family: "Tinos";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: initial;
    padding-block: 50px;
    border-bottom: 3px solid #fff;
  }
  section#collection {
    padding-block: 50px;
  }
  section#collection .container div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  section#collection .container div.wrapper h3 {
    font-family: "Tinos";
    margin: 0;
    font-size: 25px;
    font-weight: 700;
  }
  section#collection .container div.wrapper div.text-wrapper {
    display: flex;
    flex-direction: column;
  }
  section#collection .container div.wrapper div.text-wrapper p {
    font-size: 14px;
    font-style: normal;
    text-align: justify;
    font-weight: 500;
    line-height: 30px;
    color: #C0C0C0;
  }
  section#collection .container div.wrapper div.text-wrapper p.view {
    color: #fff;
    align-self: flex-end;
  }
  section#collection .container div.cards {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
  section#collection .container div.cards .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  section#collection .container div.cards .card img {
    padding-bottom: 30px;
  }
  section#collection .container div.cards .card p {
    color: #c0c0c0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }
  section#selection {
    padding-block: 50px;
  }
  section#selection .container {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  section#selection .container img {
    width: 100%;
  }
  section#selection .container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  section#selection .container div h3 {
    color: #fff;
    text-align: right;
    font-family: "Tinos";
    font-size: 25px;
    font-weight: 700;
  }
  section#selection .container div span {
    font-size: 14px;
    font-weight: 600;
    align-self: flex-end;
  }
  section#selection .container div p {
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: #C0C0C0;
  }
  section#selection .container div a {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: flex-end;
  }
  footer#main-footer .container {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 3px solid #C0C0C0;
    padding-bottom: 80px;
    margin-bottom: 50px;
    grid-gap: 20px;
  }
  footer#main-footer .container div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer#main-footer .container div img {
    width: 180px;
    height: 47px;
  }
  footer#main-footer .container div p {
    color: #c0c0c0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  footer#main-footer .container div ul.social {
    display: flex;
    gap: 30px;
  }
  footer#main-footer .container ul.footer-lists {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  footer#main-footer .container ul.footer-lists li {
    color: #c0c0c0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  footer#main-footer .container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  footer#main-footer .container form input {
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #C0C0C0;
  }
}
body {
  background-color: #161616;
  color: #fff;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=main.css.map */